html {
  --light-background-colour: white;
  --light-main-colour: #3D3D3D;
  --light-highlight-colour: black;

  --dark-background-colour: black;
  --dark-main-colour: #C2C2C2;
  --dark-highlight-colour: white;
  
  --blue-colour: rgb(20, 75, 230);

  --background-colour: var(--light-background-colour);
  --main-colour: var(--light-main-colour);
  --highlight-colour: var(--light-highlight-colour);

  min-width: 400px;
}

html[data-dark-mode="true"] {
  --background-colour: var(--dark-background-colour);
  --main-colour: var(--dark-main-colour);
  --highlight-colour: var(--dark-highlight-colour);
}

html[data-dark-mode="true"] .invert-fixing-red {
  filter: invert() hue-rotate(180deg) saturate(10);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  width: 70%;
  max-width: 900px;
  margin: auto;
  color: var(--main-colour);
  background-color: var(--background-colour);
  padding: 20px 0;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, b {
  color: var(--highlight-colour)
}

header {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 2px solid var(--main-colour);
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

#logo-link {
  width: 200px;
  margin-right: 50px;
}

#logo {
  min-width: 100px;
}

footer {
  text-align: center;
  margin-top: 40px;
  border-top: 2px solid var(--main-colour);
}

a {
  text-decoration: none;
  color: var(--blue-colour);
}

blockquote {
  border-left: 5px solid grey;
  color: grey;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.excerpt:not(.excerpt:last-child) {
  margin-bottom: 40px;
  border-bottom: 2px solid var(--main-colour);
}

.publishedTime {
  text-align: center;
  color: grey;
  font-family: monospace;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.scroll-box {
  overflow-x: auto;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    padding: 20px;
  }
}
