:root {
  --light-background-colour: white;
  --light-main-colour: #3D3D3D;
  --light-highlight-colour: black;

  --dark-background-colour: black;
  --dark-main-colour: #C2C2C2;
  --dark-highlight-colour: white;
  
  --blue-colour: rgb(0, 55, 200);

  --background-colour: var(--light-background-colour);
  --main-colour: var(--light-main-colour);
  --highlight-colour: var(--light-highlight-colour);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  width: 70%;
  max-width: 900px;
  margin: auto;
  color: var(--main-colour);
  background-color: var(--background-colour);
  padding: 20px 0;
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, b {
  color: var(--highlight-colour)
}

header {
  margin-bottom: 40px;
  border-bottom: 2px solid var(--main-colour);
}

footer {
  text-align: center;
  margin-top: 40px;
  border-top: 2px solid var(--main-colour);
}

a {
  text-decoration: none;
  color: var(--blue-colour);
}

.excerpt:not(.excerpt:last-child) {
  margin-bottom: 40px;
  border-bottom: 2px solid var(--main-colour);
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    padding: 20px;
  }
}

.invert-black-and-white-only {
  /* This at least works for red, not sure if it generalises. */
  filter: invert() hue-rotate(180deg) saturate(10);
}