<!DOCTYPE html>
<html>
  <head>
    {% if page.title %}
      <title>{{ page.title }} | Blog | James Wright</title>
    {% else %}
      <title>Blog | James Wright</title>
    {% endif %}
    <link rel='stylesheet' href='/static/css/base.css' />
    <link rel='shortcut icon' href='/favicon.ico' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="/static/js/dark-mode-management.js" defer></script>
  </head>
  <body>
    <header>
      <p><a href="{{ site.url }}">blog.jameswright.me</a></p>
      <p>Just some words about some things.</p>
    </header>
    {{ content }}
    <footer>
      <p>
        Made, with <span class="heart" role="img" aria-label="love">❤️</span>,
        by <a href="https://jameswright.me">James Wright</a>
      </p>
      <p>
        <input type="checkbox" id="dark-mode-checkbox"></input>
        <label for="dark-mode-checkbox">Dark mode?</label>
      </p>
    </footer>
  </body>
</html>